.impar {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", sans-serif;
}

#num2 {
    color: blue;
    font-size: 36px;
}

#para3 {
    font-size: 24px;
}

#num4 {
    background-color: lime;
    font-size: 24px;
    font-weight: bold;
}